pip-tools >= 2.0
pytest==7.2.1
pytest-cov==4.0.0,
pytest-asyncio==0.20.3
black==23.3.0
isort==5.12.0
pylint==2.15.0
pycodestyle==2.10.0
yala==3.2.0
tox==3.28.0
typing-extensions==4.5.0
flask_testing==0.8.1
coverage>=4.0.3
pluggy>=0.3.1
py>=1.4.31
randomize>=0.13
